.userContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.userContainer button {
    padding: 5px;
}

.pagesBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    flex-wrap: wrap;
}

.pagesBlock span {

}

.selected {
    font-weight: bold;
}